@model Onlink.Models.EmployeeJob

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeJob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplication.JobApplicationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeJobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
